<div>

	<div class="row">
		<div class="alert alert-dismissable" ng-class="{'alert-success':alert.success, 'alert-danger':alert.danger, hidden:!alert.visible}" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<span ng-bind="alert.message"></span>
		</div>
	</div>

	<div class="well row">
	
		<form class="col-sm-6" role="form">
		
			<label>Login with Flower Platform</label>
			
			<div ng-include="'../js_client.users/partials/auth/login.html'"></div>
			
		</form>
		
		<form class="col-sm-6" role="form">
		
			<label>Or sign in with another provider</label>
		
			<div class="form-group" ng-repeat="oauthProvider in oauthProviders">
				<button type="submit" class="btn btn-primary" ng-click="signInWithProvider(oauthProvider)">
					<i class="icon-ok icon-white"></i> {{oauthProvider.label}}
				</button>
			</div>
		
		</form>
	
	</div>

</div>
