<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ws-dispatcher"
            class="org.flowerplatform.js_client.server.WebServicesDispatcherServlet">
         <init-param
               name="javax.ws.rs.Application"
               value="org.flowerplatform.js_client.server.WebServicesConfig">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/oauth/redirect"
            class="org.flowerplatform.js_client.server.oauth.OAuth2RedirectServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/oauth/login"
            class="org.flowerplatform.js_client.server.oauth.OAuth2LoginServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/oauth/authorize"
            class="org.flowerplatform.js_client.server.oauth.OAuth2AuthorizationServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/oauth/token"
            class="org.flowerplatform.js_client.server.oauth.OAuth2TokenServlet">
      </servlet>
   </extension>
</plugin>
