<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ws-dispatcher"
            class="org.flowerplatform.js_client.server.WebServicesDispatcherServlet">
         <init-param
               name="javax.ws.rs.Application"
               value="org.flowerplatform.js_client.server.WebServicesConfig">
         </init-param>
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/js-app"
            base-name="/WebContent">
      </resource>
   </extension>
</plugin>
