<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/js_client.core"
            base-name="/WebContent">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/authenticate"
            base-name="/WebContent/login">
      </resource>
   </extension>

</plugin>
