<configuration>

	<!--
	######################################################################################
		General configuration
	######################################################################################
	-->
	<jmxConfigurator />
	
	<!--
		Unfortunately a property definer can define only a single property, MDC.setProperty with %X doesn't seem to work.
		@author Sorin 
	 -->
	<define name="tomcatLocation" class="org.flowerplatform.util.log.TomcatLocationPropertyDefiner"/>
	<define name="applicationServerContext" class="org.flowerplatform.util.log.ApplicationServerContextPropertyDefiner"/>
	
	
	<conversionRule conversionWord="flowerHighlight" converterClass="org.flowerplatform.util.log.LogUtil$FlowerHighlightingCompositeConverter" />
	<conversionRule conversionWord="flowerHighlightDefaultYellow" converterClass="org.flowerplatform.util.log.LogUtil$FlowerHighlightingCompositeConverterDefaultYellow" />

	<!--
	######################################################################################
		Appenders
	######################################################################################
	-->
<!-- 	 <appender name="FILE_AUDIT" class="ch.qos.logback.core.FileAppender">
		<file>testFile.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg	[%mdc]%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>AUDIT</marker>
			</evaluator>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender> -->
	 
 <!-- 	<appender name="FILE_DEBUG" class="ch.qos.logback.core.FileAppender">
		<file>${tomcatLocation}/logs/${applicationServerContext}_debug.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg	[%mdc]%n</pattern>
		</encoder>		
	</appender> -->

<!-- 	<appender name="FILE_INFO" class="ch.qos.logback.core.FileAppender">
		<file>${tomcatLocation}/logs/${applicationServerContext}_info.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg	[%mdc]%n</pattern>
		</encoder>
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	     	<level>INFO</level>
	    </filter>
	</appender> -->

<!-- 	<appender name="FILE_CSV_INTERNAL" class="ch.qos.logback.core.FileAppender">
		<file>${tomcatLocation}/logs/${applicationServerContext}_performance.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss};%msg%n</pattern>
		</encoder>		
	</appender>  -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%flowerHighlight(%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg	[%mdc]%n)</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT_YELLOW" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%flowerHighlightDefaultYellow(%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg	[%mdc]%n)</pattern>
		</encoder>
	</appender>
	
	<!--
	######################################################################################
		Loggers
	######################################################################################
	-->
	<root level="debug">
		<!-- <appender-ref ref="FILE_CSV_INTERNAL" /> -->
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="STDOUT_YELLOW" /> -->
		<!-- <appender-ref ref="FILE_DEBUG" /> -->
		<!-- <appender-ref ref="FILE_INFO" /> -->
	</root>
	
</configuration>