.user-panel {
    background:RGB(219,217,214);
    position:absolute;
    right:0px;
}

.user-name-image {
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse {
  border-top: 1px solid transparent;
}

.navbar-collapse.collapse {
  display: none!important;
}

.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}

.navbar-nav>li {
  float: none;
}

.user-settings {
	width: 500px;
	background: none repeat scroll 0 0 #fff;
    color: #666;
}

.change-username-form , .password-confirmation-form {
	margin-top: 0;
}

.group-password h4 , .group-username h4 , .group-delete h4 {
    background-color: #f5f5f5;
    border-color: #d8d8d8 #d8d8d8;
    border-radius: 2px 2px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
    padding: 9px 10px 10px;
}

.group-delete h4 {
	 background-color: #A50D0D;
	 color: #ffffff;
}

.button {
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 12px;
    position: relative;
    opacity: 0.8;
}