html {
	min-height: 100%;
	min-width: 100%;
	position: relative;
}
body {
    height: 100%;
    width: 100%;
}

/* style for right view */
#col-side-menu, #side-menu {
	position: absolute;
	right: 0;
	height: 100%;
    min-height: 100%;
    min-width: 50%;
    overflow: hidden;
}

#user-panel {
	position: absolute;
	right: 0;
    background:RGB(219,217,214);
    height: 100%;
    min-height:100%;
    min-width: 100%;
    overflow: auto;
}

/* style for user image and name */
#user-panel-header {
	text-align: center;
}

/* style for navbar */
.navbar-menu {
	padding-top: 40px;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
.navbar-nav>li {
  float: none;
}

/* style for the first elements in form */
.change-username-form , .password-confirmation-form {
	margin-top: 0;
}

/* style for elements from Profile panel */
.nav-pills>li>a {
	text-decoration:none;
	color: black;
}

/* style for input if nothing is written */
:required {
  box-shadow: 1px 1px 4px transparent;
}

/* style for delete-account button */
#delete-account-button {
	color: #8A0808;
	width: 100%;
}