<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse 4.3.2" sequenceNumber="11">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.source.feature.group" version="3.9.2.v20140221-1700"/>
<unit id="org.eclipse.jdt.feature.group" version="3.9.2.v20140221-1700"/>
<unit id="org.eclipse.platform.feature.group" version="4.3.2.v20140221-1852"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3/R-4.3.2-201402211700"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.egit.source.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.feature.group" version="3.4.1.201406201815-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="3.4.1.201406201815-r"/>
</location>
</locations>
</target>
