<div class="form">
	
	<fieldset>
		
		<legend><span class="glyphicon glyphicon-user"><%= properties.login %></span></legend>
	
		<form id="editUser" action="#" class="form-horizontal">
			
			<div class="form-group create-element">
				<label class="control-label">Login</label>
				<input type="text" class="form-control property" id="login" value="<%= properties.name %>">
			</div>
			
			<div class="form-group">
				<label class="control-label">Name</label>
				<input type="text" class="form-control property" id="name" value="<%= properties.name %>">
			</div>
			
			<div class="form-group">
				<label class="control-label">Email</label>
				<input type="email" class="form-control property" id="email" value="<%= properties.email %>">
			</div>
		
			<div class="text-center">
				<button type="button" class="btn btn-primary btn-lg" id="save-user"><span class="glyphicon glyphicon-ok"></span>Save</button>
				<button type="button" class="btn btn-default btn-lg" id="cancel-user"><span class="glyphicon glyphicon-ban-circle"></span>Cancel</button>
			</div>
			
		</form>
	</fieldset>
</div>