<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/servlet/public-resources"
            class="org.flowerplatform.util.servlet.PublicResourcesServlet">
      </servlet>
      <servlet
            alias="/servlet/image-composer"
            class="org.flowerplatform.util.servlet.ImageComposerServlet">
      </servlet>
      <servlet
            alias="/servlet/download"
            class="org.flowerplatform.core.file.download.DownloadServlet">
      </servlet>
      <servlet
            alias="/servlet/upload"
            class="org.flowerplatform.core.file.upload.UploadServlet">
      </servlet>
     
      <servlet
            alias="/servlet/rest"
            class="org.flowerplatform.core.FlowerServletContainer">
         <init-param
               name="javax.ws.rs.Application"
               value="org.flowerplatform.core.ServicesConfig">
         </init-param>
      </servlet>
  
   </extension>

</plugin>
