#macro( button $node )
<button type="#alt( $node.btn-type 'button' )" class="#alt( $node.btn-cls 'btn btn-primary' )" #altFormat( $node.btn-click 'ng-click="$node.btn-click"' )>
	#altFormat( $node.glyphicon '<span class="glyphicon glyphicon-$node.glyphicon"></span>' ) $!node.label
</button>
#end