#macro( button $node )
<button type="#alt( $node.properties.btn-type 'button' )" class="#alt( $node.properties.btn-cls 'btn btn-primary' )" #altFormat( $node.properties.btn-click 'ng-click="$node.properties.btn-click"' )>
	#altFormat( $node.properties.glyphicon '<span class="glyphicon glyphicon-$node.properties.glyphicon"></span>' ) $!node.properties.name
</button>
#end