#macro( comboBoxField $node)
<div class="form-group">
	<label>${node.label}</label>
	<select class="form-control" 
		ng-model="${node.parent}.${node.id}" ng-model-options="{ getterSetter: true }"
		ng-options="${node.option}.${node.id} as ${node.labelFunction}(${node.option}) for ${node.option} in ${node.options}">
	</select>
</div>
#end