#macro( div $node )
<div#foreach($attr in $node.properties.attrs.entrySet()) $attr.key="$attr.value"#end>
#foreach( $child in $node.children )
#@indent()
	#callMacro( $child )
#end
#end
</div>
#end