#macro( table $node)
<table class="#if(${node.table-class})${node.table-class}#{else}table#end" ng-controller="${node.label}ListCtrl">
	<thead>
		<tr>
#@indent("			")
#foreach( $child in $node.children)
#callMacro( $child )
#end
#end
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="${node.entity} in ${node.entity}List">
#@indent("			")
#foreach( $child in $node.children)
#callMacro( $child )
#end
#end
		</tr>
	</tbody>
</table>
#end