@import "lib/codemirror.css";

.CodeMirror {
	/* Set height, width, borders, and global font properties here */
	font-family: monospace;
	height: 100%;
}

.match {	
	background-color: #CCCCFF;
}

.submatch {	
	background-color: #99C7FF;
}