<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/messagebroker"
            class="org.flowerplatform.flex_client.server.blazeds.FlowerMessageBrokerServlet">
      </servlet>
   </extension>
   <extension
         point="org.flowerplatform.host.servletbridge.registry.listeners">
      <listener
            runnable="org.flowerplatform.flex_client.server.blazeds.AddHttpFlexSessionListenerRunnable">
      </listener>
   </extension>
   <extension
         point="org.flowerplatform.host.servletbridge.registry.listeners">
      <listener
            runnable="org.flowerplatform.core.session.ServletBridgeRegistryListenerRunnable">
      </listener>
   </extension>

</plugin>
