#macro( column $node $param)
#if( $param == 'header' )
<th>$node.properties.label</th>
#elseif( $node.children )
<td>
#foreach( $child in $node.children )
#@indent()
	#callMacro( $child )
#end
#end
</td>
#else
<td>{{${node.properties.parent}.${node.properties.entity}#altFormat($node.properties.filter ' | $node.properties.filter')}}</td>
#end
#end