<% if (hasAdd) { %>	
	<a href="#" class="btn btn-default btn-sm" data-type="add"><span class="glyphicon glyphicon-plus"></span> Add</a>
<% }
   if (hasXLS) { 
 %>
	<a href="#" class="btn btn-default btn-sm" data-type="xls"><span class="glyphicon glyphicon-export"></span> XLS Export</a>
<% } 
	if (infoMessage) { 
%>	
	<button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="<%= infoMessage %>"><span class="glyphicon glyphicon-info-sign"></span></button>
<% } %>