<!-- Popup: Apply or Unapply Extensions to Repository  -->

<div> 
	<div class="modal fade" id="myModal" ng-keyup="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<alert info="popupApplyUnapplyExtensionAlert"></alert>
					<button type="button" class="close" data-dismiss="modal" ng-click="refresh()">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4>Available Extensions</h4>
					<div ng-repeat="availableExtension in availableExtensions.messageResult" id="accordion-parent">
						<div class="panel-group" ng-model="availableExtension">
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: {{availableExtension.color}};">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-parent" href="{{'#' + $index}}" ng-click="apply = !apply" >{{availableExtension.label}}</a>
										<button type="button" class="btn btn-default flowerInlineFloat flowerMarginTop" ng-show="apply" ng-model="availableExtension.id" ng-click="applyExtension(availableExtension.id)">
											Apply
										</button>
									</h4>
								</div>
								<div id="{{$index}}" class="panel-collapse collapse">
									<div class="panel-body">
										<div ng-show="availableExtension.dependencies">
											<label class="flowerLabelWithoutBold">Depends on: &nbsp;</label>
											<div class="flowerInline" ng-repeat="dependenceName in availableExtension.dependencies" ng-init="dependence=getDependence(dependenceName)">
												<span class="label" style="color: black; background-color: {{dependence.color}};">{{dependence.label}}</span>
											</div>
											<br><br>
										</div>
										<div ng-hide="availableExtension.dependencies">
											<label class="flowerLabelWithoutBold">This extension has no dependency!</label>
											<br><br>
										</div>
										<label>{{availableExtension.description}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<br>
					<h4>Applied Extensions</h4>
					<div ng-repeat="appliedExtension in currentRepositoryExtensions.messageResult" id="accordion">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: {{appliedExtension.color}};">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="{{'#' + appliedExtension.id}}" ng-click="unapply = !unapply">{{appliedExtension.label}}</a>
										<button type="button" class="btn btn-default flowerInlineFloat flowerMarginTop" ng-show="unapply" ng-model="appliedExtension.label" ng-click="unapplyExtension(appliedExtension.id)">
											Unapply
										</button>
									</h4>
								</div>
								<div id="{{appliedExtension.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<div ng-show="appliedExtension.dependencies">
											<label class="flowerLabelWithoutBold">Depends on: &nbsp;</label>
											<div class="flowerInline" ng-repeat="appliedDependenceName in appliedExtension.dependencies" ng-init="appliedDependence=getDependence(appliedDependenceName)">
												<span class="label" style="color: black; background-color: {{appliedDependence.color}};">{{appliedDependence.label}}</span>
											</div>
											<br><br>
										</div>
										<div ng-hide="appliedExtension.dependencies">
											<label class="flowerLabelWithoutBold">This extension has no dependency!</label>
											<br><br>
										</div>
										<label>{{appliedExtension.description}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>										
				</div>
			</div>
		</div>
  	 </div>
 </div>