<!-- Popup: Apply or Unapply Extensions to Repository  -->
<div> 
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4>Available Extensions</h4>
					<div ng-repeat="ext in extensions" id="accordion-parent">
						<div class="panel-group" id="accordion" ng-model="ext.label">
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: {{ext.color}};">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-parent" href="{{'#' + ext.label}}" ng-bind="ext.label" ng-click="apply = !apply" ></a>
										<button type="button" class="btn btn-default" ng-show="apply" ng-click="applyExtension()" style="float:right; margin-top: -9px;">Apply</button>
									</h4>
								</div>
								<div id="{{ext.label}}" class="panel-collapse collapse">
									<div class="panel-body">
										Depends on: &nbsp;
										<span class="label" ng-repeat="depend in ext.dependencies" style="color: black; background-color: {{depend.color}};">{{depend.label}}</span>
										<br><br>
										<label>{{ext.description}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<br>
					<h4>Applied Extensions</h4>
					<div ng-repeat="appliedExt in currentRepo.extensions">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: {{appliedExt.color}};">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="{{'#' + appliedExt.label + $index}}" ng-click="unapply = !unapply">{{appliedExt.label}}</a>
										<button type="button" class="btn btn-default" ng-show="unapply" ng-click="unapplyExtension()" style="float:right; margin-top: -9px;">Unapply</button>
									</h4>
								</div>
								<div id="{{appliedExt.label + $index}}" class="panel-collapse collapse">
									<div class="panel-body">
										Depends on: &nbsp;
										<span class="label" ng-repeat="dependencies in appliedExt.dependencies" style="color: black; background-color: {{dependencies.color}};">{{dependencies.label}}</span>
										<br><br>
										<label>{{appliedExt.description}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>										
				</div>
			</div>
		</div>
  	 </div>
 </div>