<!-- Popup: Apply or Unapply Extensions to Repository  -->
<div> 
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4>Available Extensions</h4>
					<div ng-repeat="extension in extensions" id="accordion-parent">
						<div class="panel-group" id="accordion" ng-model="extension">
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: {{extension.color}};">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-parent" href="{{'#' + extension.label}}" ng-click="apply = !apply" >{{extension.label}}</a>
										<button type="button" class="btn btn-default" ng-show="apply" ng-model="extension" ng-click="applyExtension(extension)" style="float:right; margin-top: -9px;">Apply</button>
									</h4>
								</div>
								<div id="{{extension.label}}" class="panel-collapse collapse">
									<div class="panel-body">
										Depends on: &nbsp;
										<span class="label" ng-repeat="dependence in extension.dependencies" style="color: black; background-color: {{dependence.color}};">{{dependence.label}}</span>
										<br><br>
										<label>{{extension.description}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<br>
					<h4>Applied Extensions</h4>
					<div ng-repeat="appliedExtension in currentRepo.extensions">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: {{appliedExtension.color}};">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="{{'#' + appliedExtension.label + $index}}" ng-click="unapply = !unapply">{{appliedExtension.label}}</a>
										<button type="button" class="btn btn-default" ng-show="unapply" ng-model="appliedExtension.label" ng-click="unapplyExtension(appliedExtension.label)" style="float:right; margin-top: -9px;">Unapply</button>
									</h4>
								</div>
								<div id="{{appliedExtension.label + $index}}" class="panel-collapse collapse">
									<div class="panel-body">
										Depends on: &nbsp;
										<span class="label" ng-repeat="dependence in appliedExtension.dependencies" style="color: black; background-color: {{dependence.color}};">{{dependence.label}}</span>
										<br><br>
										<label>{{appliedExtension.description}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>										
				</div>
			</div>
		</div>
  	 </div>
 </div>