<!-- Repository Panel - contains information about a repository: view/edit -->
<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div ng-show="!edit && repo.properties.name" >
				<h3 class="panel-title" style="display: inline;">{{repo.properties.name}}</h3>
				<div style="display: inline; float: right;">
					<button type="button" class="btn btn-default" style="margin-top: -6px;" ng-click="edit = !edit">Edit</button>
					<button type="button" class="btn btn-success" style="margin-top: -6px;">Open</button>
				</div>
			</div>
			<div ng-show="edit || !repo.properties.name">
				<form class="form" role="form">
					<div class="form-group" style="float: right">
						<button type="submit" class="btn btn-default" ng-click=save(repo.properties.name,repoName,repoDescription); >Save</button>
						<button type="submit" class="btn btn-default" ng-click="edit=!edit;">Cancel</button>
					</div>
					<br>
					<div class="form-group">
						<label>Repository Name</label>
						<input type="text" class="form-control" ng-init="repoName=repo.properties.name"  ng-model="repoName">
						<label>Description</label>
						<input type="text" class="form-control" ng-init="repoDescription=repo.properties.description" ng-model="repoDescription">
					</div>
				</form>
			</div>
		</div>
		
		<div class="panel-body" ng-model="repo.nodeUri" ng-init="repoExtensions=getExtensions(repo.nodeUri)">
			<div>{{repo.properties.description}}</div>
			<br>
			<label>Extensions:</label>
			&nbsp;
			<div style="display: inline;" ng-repeat="extensions in repoExtensions">
				<div style="display: inline;" ng-repeat="extension in extensions">
					<span class="label" style="color: black; background-color: {{extension.color}};">{{extension.label}}</span>
				</div>
			</div>
			<button type="button" class="btn btn-default btn-sm" style="float:right;" data-toggle="modal" data-target="#myModal" ng-click="setExtensions(repoExtensions)">Apply/Unapply Extensions</button>
		</div>
	</div>
	
 		<!-- Popup Apply/Unapply Extension --> 
	<div ng-include src="'../js_client.users/partials/popupApplyUnapplyExtension.html'"></div>
	
</div>