<!-- UserDashboard - contains informations about all repository of current User -->

<div ng-controller="UserDashboardCtrl">

	<h2>My Dashboard</h2>
	<hr><br>
	
	<alert info="userDashboardAlert"></alert>
	
	<!-- user repositories -->
	<div>
		<h3 class="flowerInline">My Repositories</h3>
		<div class="btn-group flowerInlineFloat">
			<a class="btn btn-default" href="" ng-click="createRepository();"> 
				<span class="icon-ok">Create</span>
			</a>
		</div>	
	</div>
	<hr>
	
	<div>
		<div ng-repeat="repo in repositories.messageResult | limitTo: limitAll">
			<div ng-include src="'../js_client.users/partials/repositoryPanel.html'"></div>
		</div>
	</div>
	<div>
		<button class="btn btn-default  btn-sm" ng-click="loadMore('all')">Load more</button>
		<button class="btn btn-default btn-sm" ng-click="loadLess('all',limitAll)" ng-show="less">Load less</button>
	</div>
	<br><br>
	

	<!-- repositories where user is a member -->
	<div>
		<h3 class="flowerInline">Repositories Where I am a Member</h3>
		<div class="btn-group flowerInlineFloat">
			<a class="btn btn-primary" ng-href="#/repository/{{endodedNodeUri}}/search" ng-click="setSearchType('member')">
				<span class="icon-plus icon-white">Search</span>
			</a>
		</div>
	</div>
	<hr>
	
	<div>
		<div ng-repeat="repo in repositoriesWhereIAmMember.messageResult | limitTo: limitWhereIAmMember">
			<div ng-if="repo" ng-include src="'../js_client.users/partials/repositoryPanel.html'"></div>
		</div>
	</div>
	<div>
		<button class="btn btn-default  btn-sm" ng-click="loadMore('member')">Load more</button>
		<button class="btn btn-default btn-sm" ng-click="loadLess('member',limitWhereIAmMember)" ng-show="less">Load less</button>
	</div>
	<br><br>
	
	
	<!-- starred repositories -->
	<div>
		<h3 class="flowerInline">My Starred Repositories</h3>
		<div class="btn-group flowerInlineFloat">
			<a class="btn btn-primary" ng-href="#/repository/{{endodedNodeUri}}/search" ng-click="setSearchType('starred')">
				<span class="icon-plus icon-white">Search</span>
			</a>
		</div>
	</div>
	<hr><br>
	
	<div>
		<div ng-repeat="repo in starredRepositories.messageResult | limitTo: limitStarred">
			<div ng-if="repo" ng-include src="'../js_client.users/partials/repositoryPanel.html'"></div>
		</div>
	</div>
	<div>
		<button class="btn btn-default  btn-sm" ng-click="loadMore('starred')">Load more</button>
		<button class="btn btn-default btn-sm" ng-click="loadLess('starred',limitStarred)" ng-show="less">Load less</button>
	</div>
	<br>
	
</div>