<!-- UserDashboard - contains informations about all repository of current User -->
<div ng-controller="UserDashboardCtrl">
	<h2>My Dashboard</h2>
	<hr><br>
	
	<!-- user repositories -->
	<div>
		<h3 style="display: inline;">My Repositories</h3>
		<div class="btn-group" style="float : right; display: inline;">
			<a class="btn btn-default" href="" ng-click="createRepository();"> 
				<span class="icon-ok">Create</span>
			</a>
		</div>	
	</div>
	<hr>
	
	<div>
		<div ng-repeat="repo in repositories">
			<div ng-include src="'../js_client.users/partials/repositoryPanel.html'"></div>
		</div>
	</div>
	<br>
	
	<!-- repositories where user is a member -->
	<div>
		<h3 style="display: inline;">Repositories Where I am a Member</h3>
		<div class="btn-group" style="display: inline; float: right;">
			<a class="btn btn-primary" href="#/Dashboard/Search">
				<span class="icon-plus icon-white">Search</span>
			</a>
		</div>
	</div>
	<hr><br>
	
	<!-- starred repositories -->
	<div>
		<h3 style="display: inline;">My Starred Repositories</h3>
		<div class="btn-group" style="display: inline; float: right;">
			<a class="btn btn-primary" href="#/Dashboard/Search">
				<span class="icon-plus icon-white">Search</span>
			</a>
		</div>
	</div>
	<hr><br>
	
</div>