<div ng-controller="NavigationCtrl">
	
	<div class="panel panel-default">
	
		<div class="panel-heading">
			<h3 class="panel-title">Profile</h3>
		</div>
	  
		<div class="panel-body">    
			<nav class="bs-docs-sidebar">
				<ul id="sidebar" class="nav nav-pills nav-stacked bs-docs-sidenav affix-top">
					<li ng-class="{active: path == 'General'}"><a ng-click="path='General'; scrollTo('General')">General</a></li>
					<li ng-class="{active: path == 'AccountSettings'}"><a ng-click="path='AccountSettings'; scrollTo('AccountSettings')">Account Settings</a></li>
	       		</ul>
	  		 </nav>
	   </div>
	   
	</div>
	
</div>
   
