<!-- UserDashboard - contains informations about all repository of current User -->
<div ng-controller="UserDashboardCtrl">
	<h2>My Dashboard</h2>
	<hr>
	
	<!-- user repositories -->
	<div class="row">
		<div class="col-sm-10">
			<h3>My Repositories</h3>
		</div>
		<div class="col-sm-2" style="padding-top: 15px;">
			<div class="btn-group" style="float: right;">
				<a class="btn btn-default" href="" ng-click="createRepository();"> 
					<span class="icon-ok">Create</span>
				</a>
			</div>
		</div>
	</div>
	<hr>
	
	<div class="row">
		<div ng-repeat="repo in repositories">
			<div class="col-sm-12" ng-include src="'../js_client.users/partials/repositoryPanel.html'"></div>
		</div>
	</div>
	
	<!-- repositories where user is a member -->
	<div class="row">
		<div class="col-sm-10">
			<h3>Repositories Where I am a Member</h3>
		</div>
		<div class="col-sm-2" style="padding-top: 15px;">
			<div class="btn-group" style="float: right;">
				<a class="btn btn-primary" href="#/Dashboard/Search">
					<span class="icon-plus icon-white">Search</span>
				</a>
			</div>
		</div>
	</div>
	<hr>
	
	<!-- starred repositories -->
	<div class="row">
		<div class="col-sm-10">
			<h3>My Starred Repositories</h3>
		</div>
		<div class="col-sm-2" style="padding-top: 15px;">
			<div class="btn-group" style="float: right;">
				<a class="btn btn-primary" href="#/Dashboard/Search">
					<span class="icon-plus icon-white">Search</span>
				</a>
			</div>
		</div>
	</div>
	<hr>
	
</div>