<!-- Content of right area -->

<div ng-controller="UserSideMenuCtrl">
	<p/>
	<div class="row" id="user-panel">
		<div class="col-sm-12">
			<h4 id="user-panel-header">
				<img src="../js_client.users/images/user-image.png">
				<label>{{userName}}</label> 
			</h4>
		</div>
		
		<div class="col-sm-12">
			<div class="navbar-menu">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand">Menu</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a>Logout</a></li>
								<li><a ng-href="#/users/{{userID}}">Profile</a></li>
								<hr style="margin: 0.1em auto;">
								<li><a ng-class="{hidden:!{{isAdmin}}}" ng-href="#/repository/{{nodeUri}}">Dashboard/My Repositories</a>
					        	<li><a ng-class="{hidden:!{{isAdmin}}}" ng-href="#/search">Search Repository</a>
		 			        	<li><a ng-href="#/users/" ng-class="{hidden:!{{isAdmin}}}">Users</a>
					      	</ul>
					    </div>
				 	 </div>
				</nav>
			 </div>
		</div>
		
		<div class="col-sm-12">
			<div ng-include="template_sideMenuContentTemplate.url"></div>
		</div>
		
	</div>
</div>

