<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.equinox.http.registry.resources">
        <resource
              alias="/"
              base-name="/WebContent"/>
        <resource
              alias="/flex_client.host_app"
              base-name="/bin"/>
    </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/main.jsp"
            class="org.flowerplatform.util.servlet.CustomJSPFactory:/WebContent/main.jsp">
      </servlet>
   </extension>
</plugin>
